// Colors

@basic-white: #fff;
@basic-black: #000;
@primary-color: #189cd8;
@secondary-color: #43bbc7;
@brand-dark: #243746;
@gray: #949699;
@value-card-color: #ffb71b;

// Viewports

@desktop-width: 1280;
@tablet-width: 768px;
@mobile-width: 320px;
