.about-page__container {
  position: relative;
  margin-top: 80px;
  margin-bottom: 40px;
}

.about-page__content {
  max-width: 640px;
  min-height: 300px;
  margin-left: auto;

  h1 {
    .title();
  }
}

.about-page__our-mission {
  position: absolute;
  left: 64px;
  top: 0;
  z-index: 1;
}
