.action {
  position: absolute;
  bottom: 100%;
  right: 0;
  padding: 0;
  // width: 28px;
  height: 28px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &--edit {
    color: red;
    padding-bottom: 4px;
    padding-left: 4px;

    svg {
      pointer-events: none;
    }
  }
}
