.company-in-numbers {
  margin-top: 80px;
  margin-bottom: 80px;
}

.company-in-numbers__simditor {
  position: relative;
  min-height: 48px;
  margin-bottom: 40px;

  h2,
  h3 {
    .title();
    margin-bottom: 16px;
  }

  p {
    margin: 0;
  }
}
