.contacts-page {
  margin-top: 80px;
  margin-bottom: 80px;
}

.contacts-page__content {
  margin-bottom: 40px;

  h1 {
    .title();
  }
}

.contacts-page__details {
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 40px;
}

.contacts-page__company-details {
  display: flex;
  padding: 32px;
  justify-content: center;
  background-color: @secondary-color;
  color: @basic-white;
}

.contacts-page__map {
  height: 480px;
  background-color: @img-bg;
}
