.page-header__container {
  padding-top: 28px;
  padding-bottom: 34px;
  display: flex;
  align-items: center;
}

.page-header__logo {
  display: block;
  margin-right: 80px;
}

.page-header__feedback-button {
  margin-left: auto;
}

