.page {
  height: 100%;
  font-size: 16px;
  line-height: 1.4;
  color: @brand-dark;
  font-family: "Source Sans Pro", "Arial", sans-serif;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: @primary-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: @brand-dark;
  }

  &--modal-shown {
    overflow: hidden;
    padding-right: 8px;
  }

  &::after {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: fade(@basic-black, 70%);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
  }

  &--modal-shown::after {
    visibility: visible;
    opacity: 1;
  }
}

.page__body {
  min-height: 100%;
  margin: 0;
  background-color: @basic-white;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

  &--admin {
    background-color: @admin-bg;
  }
}

.page__content {
  margin-left: 280px;
  width: 1280px;
}

.page__breadcrumbs {
  display: flex;
  margin: 16px 0;
  padding: 0;
  list-style: none;
}

.page__breadcrumb {
  display: flex;
  align-items: center;

  svg {
    margin-left: 8px;
    color: @primary-color;
  }

  &:not(:first-child) {
    margin-left: 8px;
  }

  &:last-child {
    color: @primary-color;
  }
}

.page__link-wrapper {
  display: flex;
  align-items: flex-end;
  padding: 0 2px;
}

.page__title {
  font-size: 16px;
  display: flex;
  margin: 0;
  padding: 8px 16px;
  background-color: @basic-white;
  font-weight: 600;
  border-radius: 8px 8px 0 0;
}

.page__link {
  padding: 8px 16px;
  font-size: 16px;

  &:last-of-type {
    margin-left: auto;
  }
}

.page__table {
  border-spacing: 2px;

  th,
  td {
    background-color: @basic-white;
    padding: 10px 16px;

    div {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }
}
