.page-nav {
  background-color: fade(@secondary-color, 10%);
  display: flex;
  justify-content: center;

  @media (max-width: (@tablet-width - 1px)) {
    position: relative;
  }
}

.page-nav__container {
  position: relative;
}

.page-nav__list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 12px 0;
  margin: 0;

  @media (max-width: (@tablet-width - 1px)) {
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    justify-content: flex-start;
  }
}

.page-nav__item {
  position: relative;
  min-width: max-content;

  &:not(:last-child) {
    margin-right: 64px;
  }

  @media (max-width: (@desktop-width - 1px)) {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  @media (max-width: (@tablet-width - 1px)) {
    position: inherit;

    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}

.page-nav__button {
  border: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;

  * {
    pointer-events: none;
  }
}

.page-nav__icon {
  margin-left: 10px;
  color: @primary-color;
}

.page-nav__item--current .page-nav__button {
  color: @primary-color;
}

.page-nav__extra-list {
  position: absolute;
  top: 100%;
  width: max-content;
  max-width: 290px;
  list-style: none;
  padding: 20px 32px 16px 32px;
  background-color: #ECF8F9;
  z-index: 1;
  border-radius: 0px 0px 8px 8px;

  &--hidden {
    visibility: hidden;
  }

  &--shown {
    visibility: visible;
  }

  @media (max-width: (@tablet-width - 1px)) {
    right: 50%;
    transform: translateX(50%);
    width: 100%;
    max-width: 100%;
  }
}

.page-nav__extra-item {
  &:not(:last-child) {
    margin-bottom: 16px;
  }

  &--current {
    color: @primary-color;
  }
}

.page-nav__link--current {
  color: @primary-color;
}
